DEBUG=True

# OTEL
OTEL_ENABLED=True
OTEL_SERVICE_NAME=ai_native_apm
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318/"
OTEL_CONSOLE_EXPORTER_ENABLED=True  # 是否控制台显示
OTEL_METRIC_EXPORT_INTERVAL=1000  # 指标导出周期，单位毫秒
